{% extends 'inventory/base.html' %} {% block content %}
<div class="container">
  <h2 class="mt-3 fw-bold text-primary">➕ Add Product</h2>

  <!-- Scrollable form container -->
  <div
    class="shadow p-4 bg-white rounded"
    style="max-height: 500px; overflow-y: auto"
  >
    {% if form.errors %}
    <div class="alert alert-danger">
      <strong>❌ There were errors in your form submission:</strong>
      <ul>
        {% for field, errors in form.errors.items %}
        <li>{{ field|title }}: {{ errors.0 }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label fw-bold">Name</label>
        {{ form.name }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Stock Keeping Unit</label>
        {{ form.stock_keeping_unit }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Category</label>
        {{ form.category }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Stock Quantity</label>
        {{ form.quantity_in_stock }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Reorder Level</label>
        {{ form.reorder_level }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Supplier</label>
        {{ form.supplier }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Purchase Price</label>
        {{ form.purchase_price }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Selling Price</label>
        {{ form.selling_price }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Expiry Date</label>
        {{ form.expiry_date }}
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Warehouse Location</label>
        {{ form.warehouse_location }}
      </div>
      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
  </div>
</div>
{% endblock %}
