{% extends 'inventory/base.html' %} {% block content %}
<div class="container">
  <h2 class="mt-3 fw-bold text-primary">👤 Users</h2>
  <a href="" class="btn btn-success mb-3">➕ Add User</a>

  <div class="table-responsive">
    <table class="table table-hover shadow-sm rounded-3">
      <thead
        class="text-white"
        style="background: linear-gradient(135deg, #ff416c, #ff4b2b)"
      >
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>#{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <a href="" class="btn btn-warning btn-sm">✏️ Edit</a>
            <a href="" class="btn btn-danger btn-sm">🗑️ Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
